/* Style for the body */

body {
    text-align: center;
    background-color: #011F3F;
}


/* Style for the level title */

#level-title {
    font-family: 'Press Start 2P', cursive;
    font-size: 3rem;
    color: #FEF2BF;
    margin: 2% 2%;
}


/* Container to hold the buttons */

.container {
    display: inline-block;
    width: 80%;
    margin: 0 auto;
}


/* General style for the buttons */

.btn {
    display: inline-block;
    height: 18rem;
    width: 18rem;
    border: 20px solid rgb(13, 12, 12);
    border-radius: 5%;
    line-height: 20rem;
    font-size: 4rem;
    font-family: 'Press Start 2P', cursive;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.btn:hover {
    cursor: pointer;
}


/* Style for game over screen */

.gameOver {
    background-color: red;
    opacity: 0.8;
}


/* Styles for the individual buttons with specific colors and rounded corners */

.red {
    background-color: red;
    border-top-right-radius: 100%;
    margin: 0.5%;
}

.green {
    background-color: green;
    border-top-left-radius: 100%;
    margin: 0.5%;
}

.blue {
    background-color: blue;
    border-bottom-right-radius: 100%;
    margin: 0.5%;
}

.yellow {
    background-color: yellow;
    border-bottom-left-radius: 100%;
    margin: 0.5%;
}


/* Style for pressed state */

.pressed {
    box-shadow: 0 0 20px white;
    background-color: grey;
}


/* Style for the scoreboard */

.scoreBoard {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: 'Press Start 2P', cursive;
    font-size: 2rem;
    font-weight: bold;
    height: 100%;
    padding: 10px;
    position: relative;
}


/* Style for the start button */

.start-btn {
    display: none;
    font-size: 1.5rem;
    margin-top: 2rem;
    padding: 1rem 2rem;
    font-family: 'Press Start 2P', cursive;
    border: none;
    background-color: #FEF2BF;
    color: #011F3F;
    border-radius: 5px;
    cursor: pointer;
}


/* Style for the Difficulty button */

.button-container {
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
    z-index: 10;
}

#difficulty-toggle {
    font-family: 'Press Start 2P', cursive;
    padding: 1.5rem 2.5rem;
    font-size: 2rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 45%;
    border: 10px solid rgb(13, 12, 12);
}

#difficulty-toggle.easy {
    background-color: #4CAF50;
}

#difficulty-toggle.hard {
    background-color: #D32F2F;
}

#difficulty-toggle:hover {
    transform: scale(1.1);
}


/* Media query for phones */

@media (max-width: 768px),
(pointer: coarse) {
    #difficulty-toggle {
        padding: 1rem 1rem;
        font-size: 1rem;
    }
    #level-title {
        font-size: 2rem;
        margin-bottom: 5rem;
    }
    button-container {
        position: absolute;
        top: 50%;
        right: 10%;
        transform: translateY(-50%);
        z-index: 10;
    }
    .container {
        width: 100%;
    }
    .btn {
        height: 5rem;
        width: 5rem;
        line-height: 5rem;
        font-size: 1rem;
    }
    .scoreBoard {
        margin-top: 5rem;
        font-size: 16px;
    }
    .start-btn {
        display: inline-block;
    }
    .scoreBoard {
        font-size: 0.6rem;
        font-weight: bold;
        height: 100%;
        padding: 10px;
        position: relative;
    }
}